name: "Linting"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Run flake8
        run: |
          pip install flake8
          flake8 . 
      - name: Run isort
        run: |
          pip install isort
          isort .
     
              
    
        
